doctype html
html
    head
        title Passport-Facebook Example
        link(href="http://code.jquery.com/jquery-2.1.4.js", rel="script")
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        // Optional theme
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
        // Latest compiled and minified JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/style-buttons.css')
    body
        #user
            if !user
                a.button.btn.btn-facebook(href='/auth/facebook')
                    i.fa.fa-facebook
                        |  | Connect with Facebook
            else
                h2 Welcome #{user.displayName}
                img(src="https://graph.facebook.com/#{user.id}/picture?type=large")
                div
                    - console.log(user)
                div